@model MvcLogin.Models.MensajeModel

@{
    ViewBag.Title = "NuevoMensaje";
}

<h2>NuevoMensaje</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MensajeModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.messageSent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.messageSent)
            @Html.ValidationMessageFor(model => model.messageSent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userSender)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.userSender, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.userSender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userRecipient)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.userRecipient, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.userRecipient)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
