@model IEnumerable<MvcLogin.Models.FriendModel>

@{
    ViewBag.Title = "SeeFriends";
}

<h2>SeeFriends</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userFriend)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userFriend)
        </td>
        <td>
            @Html.ActionLink("Chat", "AddChat", new { email=item.userFriend }) |
            @Html.ActionLink("Delete", "Delete", new { email = item.userFriend })
        </td>
    </tr>
}

</table>
